* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;

    padding: 0.5rem;

    color: white;
    background-color: black;
}

nav>.nav {
    background-color: white;
    color: black;

    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

body {
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    padding-top: 5rem;
    margin: 0;
    height: 16rem;
    
}

.banner {
    background-image: url(images/Banner.jpg);
    background-position: center;
    background-size: contain;
}

#about,
#shows,
#contact {
    text-align: justify;
    padding: 2rem 16rem;
}

#shows, 
#contact {
    background-color: black;
    color: white;
    text-align: center;
}


h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
}



#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}
